---
    - hosts: localhost
      become: true

      tasks:
        - name: Update all packages
          yum:
            name: '*'
            state: latest
            update_only: yes

        - name: Ensure a list of yum packages are installed
          yum:
            name: "{{ packages }}"
            state: latest
            update_cache: yes
          vars:
            packages:
            - python-pip
            - yum-utils
            - device-mapper-persistent-data
            - lvm2
            - amazon-linux-extras

        - name: Add extras repository
          shell: yum-config-manager --enable extras

        - name: Install docker-ce (centos) via amazon-linux-extras packages
          shell: "amazon-linux-extras install docker=18.06.1 -y"

        - name: Enable Docker CE service at startup
          service:
            name: docker
            state: started
            enabled: yes

        - name: Ensure Python pip packages are installed
          pip:
            name: "{{ packages }}"
          vars:
            packages:
            - boto
            - boto3
            - docker-compose

        - name: Ensure jenkins directory on docker host
          file:
            state: directory
            owner: 1000
            group: 1000
            path: /var/jenkins_home

        - name: Build Docker Jenkins Image
          docker_image:
            name: jenkins-docker
            build:
              path: ../jenkins/.
              pull: "yes"
            source: build
            state: present

        - name: Create Docker Jenkins Container
          docker_container:
            name: "{{ container_name }}"
            image: jenkins-docker
            ports:
            - "8080:8080"
            - "50000:50000"
            volumes:
            - "/var/jenkins_home:/var/jenkins_home"
            - "/var/run/docker.sock:/var/run/docker.sock"
            state: started